.apexcharts-gridline {
  display: none !important;
}

.not-active {
  margin: 0 5px;
  font-size: 14px;
  color: gray;
  padding: 5px;
  cursor: pointer;
}

.active {
  padding: 5px;
  margin: 0 5px;
  font-size: 14px;
  color: #6433ff;
  cursor: pointer;
  background: #ffffff;
  cursor: pointer;
}
.active {
  color: #6433ff;
  border-top: 2px solid #6433ff;
  background: white;
  border-bottom: none;
}
.fade {
  color: #4a4a4a70;
}
.default {
  color: #6433ff;
  border-top: 2px solid #6433ff;
  background: white;
  border-bottom: none;
}
